services:
  node:
    image: node:20
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - .:/app
    environment:
      - HOST=0.0.0.0
      - PORT=5173
    command: sh -c "npm install && npm run dev"