services:
  node:
    image: node:20
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - HOST=0.0.0.0
      - PORT=3000
    command: sh -c "npm install && npm run dev"